<extend name="Common:edit"/>
<block name="css">
    <link href="__UPLOADIFY__/uploadify.css" rel="stylesheet" type="text/css" />
</block>
<block name="form">
    <form method="post" action="{:U()}" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">品牌名称</td>
                <td>
                    <!---
                      //目的: 根据每个字段的注解中指定的表单元素的类型,生成不同的表单元素
                       1. 获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="name" maxlength="60" value="{$name}">                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌网址</td>
                <td>
                    <input type="text" name="url" maxlength="60" value="{$url}">                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌LOGO</td>
                <td>
                    <input type="file" name="upload-logo" id="upload-logo"/>
                    <input type="hidden" class="logo" name="logo" value="{$logo}">

                    <div class="upload-img-box" style="display:{$logo?'block':'none'}">
                        <div class="upload-pre-item">
                            <img src="/Uploads/{$logo}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">品牌描述</td>
                <td>
                    <textarea name="intro" cols="60" rows="4">{$intro}</textarea>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" class="status" value="1" name="status"/>是<input type="radio" class="status" value="0" name="status"/>否                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}">                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden"  name="id" value="{$id}" />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.js"></script>
    <script type="text/javascript">
        $("#upload-logo").uploadify({
            height        : 25,    //指定删除插件的高和宽
            width         : 145,
            swf           : '__UPLOADIFY__/uploadify.swf',  //指定swf的地址
            uploader      : '{:U("Uploader/index")}',   //在服务器上处理上传的代码
            'buttonText' : '选择图片',   //上传按钮上面的文字
            'fileSizeLimit' : '100KB',  //限制大小
//            'fileObjName' : 'the_files',  //上传文件时, name的值 ,  默认值为  Filedata     $_FIELS['Filedata']
            'formData'      : {'dir' : 'brand'},   //通过post方式传递的额外参数
            'multi'    : true,   //是否支持多文件上传
            'onUploadSuccess' : function(file, data, response) {   //上传成功时执行的方法
                $('.logo').val(data);
                $('.upload-img-box').show();
                $('.upload-img-box img').attr('src',"__BRAND__/"+data);
                alert(data);
            },
            'onUploadError' : function(file, errorCode, errorMsg, errorString) {   //上传失败时该方法执行
                alert('该文件上传失败!错误信息为:' + errorString);
            }
        });
    </script>
</block>